.idea
netaxe/netboost/conf.py
web/node_modules
web/.DS_Store
web/dist
web/*.local
web/.idea/
web/.vscode/
__pycache__/
*.py[cod]
*$py.class
venv/
netaxe/apps/api/__pycache__/
netaxe/apps/asset/__pycache__/
netaxe/apps/config_center/__pycache__/
netaxe/apps/automation/__pycache__/
netaxe/netboost/__pycache__/
netaxe/apps/api/migrations/
netaxe/apps/asset/migrations/
netaxe/apps/config_center/migrations/
netaxe/apps/automation/migrations/
netaxe/apps/system/migrations/
Python-3.9.11.tgz
netaxe/media/device_config/current-configuration
netaxe/media/automation
netaxemedia
netaxe/__pycahe__
