venv/
.git
.idea
.github
*.py[cod]
*$py.class
__pycache__/
web/.DS_Store
web/dist
web/*.local
web/.idea/
web/.vscode/
web/node_modules
Python-3.9.11.tgz
netaxe/logs
netaxe/__pycahe__
netaxe/netboost/conf.py
netaxe/netboost/__pycache__/
netaxe/apps/users/migrations/00*.py
netaxe/apps/users/__pycache__/
netaxe/apps/system/migrations/00*.py
netaxe/apps/system/__pycache__/
netaxe/apps/asset/migrations/00*.py
netaxe/apps/asset/__pycache__/
netaxe/apps/automation/migrations/00*.py
netaxe/apps/automation/__pycache__/
netaxe/apps/config_center/migrations/00*.py
netaxe/apps/config_center/__pycache__/
netaxe/apps/route_backend/migrations/00*.py
netaxe/apps/route_backend/__pycache__/
netaxemedia
netaxe/media/automation
netaxe/media/device_config/current-configuration
docker/server/logs/
docker/databases/init/
docker/databases/mysql_data/
docker/server/conf/apisix_log/
docker/server/conf/apisix_log/error.log
docker/server/conf/apisix_log/access.log