venv/
.git
.idea
.github
*.py[cod]
*$py.class
__pycache__/
web/.DS_Store
web/dist
web/*.local
web/.idea/
web/.vscode/
web/node_modules
Python-3.9.11.tgz
netaxe/logs
netaxe/__pycahe__
netaxe/netboost/conf.py
netaxe/netboost/__pycache__/
netaxe/apps/users/__pycache__/
netaxe/apps/system/__pycache__/
netaxe/apps/asset/__pycache__/
netaxe/apps/automation/__pycache__/
netaxe/apps/automation/tools/__pycache__/
netaxe/apps/config_center/__pycache__/
netaxe/apps/route_backend/__pycache__/
netaxe/__pycache__/
netaxe/media/automation
netaxe/media/device_config/current-configuration
netaxe/media/ip_address_recycle/
docker/server/logs/
docker/databases/init/
docker/databases/mysql_data/
docker/databases/etcd_data/
docker/databases/data/
docker/server/conf/apisix_conf/config.yaml
docker/server/conf/dashboard_conf/conf.yaml
docker/server/conf/apisix_log/
docker/server/conf/apisix_log/error.log
docker/server/conf/apisix_log/access.log
netaxe/media/upload/
netaxe/netaxe/conf.py
netaxe/media/admin_ssh_records/
netaxe/apps/base_plateform/__pycache__/
netaxe/apps/int_utilization/__pycache__/
docker/server/conf/apisix_conf/config.yaml 
netaxe_alert/