version: "3.2"
networks:
  docker_netaxe:
    external: true
    
services:
  neteye-controller:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/neteye:1.0
    container_name: neteye-controller
    command: sh init.sh
    environment:
      - TZ=Asia/Shanghai
      - NETPALM_CONFIG=/app/config/config.json
      - NETPALM_LOG_CONFIG_FILENAME=/app/config/log-config.yml
    volumes:
      - /etc/localtime:/etc/localtime
      - ./config.json:/config/config.json
      - ./logs:/app/logs
    ports:
      - "31106:8000"
    networks:
      - docker_netaxe

  neteye-web:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/neteye-web:1.0
    container_name: neteye-web
    environment:
      TZ: Asia/Shanghai
    volumes:
      - /etc/localtime:/etc/localtime
    ports:
      - "32206:80"
    networks:
      - docker_netaxe

  # 背景任务
  neteye-worker:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/neteye:1.0
    container_name: neteye-worker
    environment:
      - TZ=Asia/Shanghai
      - NETPALM_CONFIG=/app/config/config.json
      - NETPALM_LOG_CONFIG_FILENAME=/app/config/log-config.yml
    command: python3 worker.py default
    networks:
      - docker_netaxe
    restart: always