version: "3.2"
networks:
  docker_netaxe:
    external: true

services:
  alertgateway-backend:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/alertgateway-backend:2.0
    container_name: alertgateway-backend
    restart: always
#    command: uvicorn controller:app --proxy-headers --timeout-keep-alive 10 --workers 10 --host 0.0.0.0 --port 8000 --log-config config/log-config.yml
    command: gunicorn -c gunicorn.conf.py controller:app
    ports:
      - "31102:8000"
    volumes:
      - ./config.json:/app/config/config.json
      - ./logs:/app/logs
    networks:
      - docker_netaxe

  alertgateway-flapping:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/alertgateway-backend:2.0
    container_name: alertgateway-webhook
    restart: always
    command: python3 worker.py flapping
    volumes:
      - ./config.json:/app/config/config.json
      - ./logs:/app/logs
    networks:
      - docker_netaxe

  alertgateway-duty_notify:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/alertgateway-backend:2.0
    container_name: alertgateway-duty_notify
    restart: always
    command: python3 worker.py duty_notify
    volumes:
      - ./config.json:/app/config/config.json
      - ./logs:/app/logs
    networks:
      - docker_netaxe

  alertgateway-duty_statistics:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/alertgateway-backend:2.0
    container_name: alertgateway-duty_statistics
    restart: always
    command: python3 worker.py duty_statistics
    volumes:
      - ./config.json:/app/config/config.json
      - ./logs:/app/logs
    networks:
      - docker_netaxe

  alertgateway-alert:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/alertgateway-backend:2.0
    container_name: alertgateway-alert
    restart: always
    command: python3 worker.py alert
    volumes:
      - ./config.json:/app/config/config.json
      - ./logs:/app/logs
    networks:
      - docker_netaxe

  alertgateway-incident:
    image: registry.cn-hangzhou.aliyuncs.com/netaxe/alertgateway-backend:2.0
    container_name: alertgateway-incident
    restart: always
    command: python3 worker.py incident
    volumes:
      - ./config.json:/app/config/config.json
      - ./logs:/app/logs
    networks:
      - docker_netaxe
